.App {
  background-color: #f5f7fb;
  width: 500px;
  height: 500px;
}

/* input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 3px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background-color: #f0f0f0;
  width: 10em;
  text-align: center;
}

input:checked + label {
  background-color: #a91414;
} */

/* [type="radio"] */

input:checked + label {
  background-color: rgb(105, 120, 183);
}

input.green + label {
  background-color: aqua;
}
